
          body   {
                  background-image: url(falcon.jpg); 
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                  font-weight: bolder; font-stretch: expanded;
                  margin: 5px; border:2px rgba(0, 0, 0, 0.864);}
          ol> li {
                  text-transform: capitalize;
                  background-color:rgba(255, 255, 252, 0.796);
                  padding: 3px; margin: 0px; }
          h2     {
                  text-transform: uppercase;
                  background-color:rgba(0, 0, 0, 0.953);
                  color: whitesmoke;
                  padding: 8px;  margin: 0px;
                  font-size: xx-large; text-decoration: underline;  }        
