@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@media screen and (max-width: 600px) {
  .footer {
    padding: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a2a43;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#nav {
  background-color: #04406d;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  height: 8em;
  width: 100%;
  z-index: 100;
}

hgroup {
  color: rgb(184, 224, 255);
  font-size: 18pt;
}

section {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}

section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  z-index: 1;
  mix-blend-mode: screen;
}

#road {
  z-index: 2;
}

#page {
  display: flex;
  color: rgb(37, 215, 215);
  text-decoration: none;
  font-size: 12pt;
  padding: 1rem;
  margin: 0.75rem, 1rem;
}

#page:hover {
  color: rgb(28, 225, 205);
}

ul {
  width: 80%;
  color: #fff;
  padding: 1.75rem;
  margin-left: 1rem;
}

.anilist {
  font-size: 2em;
  font-weight: 600;
}

ol {
  padding: 1rem;
  font-size: 20px;
}

ol > li {
  text-transform: capitalize;
  padding: 0.5rem;
  margin-left: 6rem;
  max-width: 100%;
  font-weight: 100;
  font-stretch: expanded;
}

footer {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-flow: row wrap;
  color: #fff;
}
